:root {
  --intro-email-background: hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonals-background: hsl(219, 30%, 18%);
  --CTA-cyan-gradient: hsl(176, 68%, 64%);
  --CTA-blue-gradient: hsl(198, 60%, 50%);
  --error: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --accent-font: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
}

body {
  background: var(--main-background);
  color: white;
  font-family: "Open Sans", sans-serif;
  min-width: 375px;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7rem;
  background: var(--intro-email-background);
}
.logo {
  width: 80px;
  height: 24px;
}

ul {
  display: flex;
}

.nav-item {
  padding: 0 1rem 0 1rem;
  font-family: var(--accent-font);
  font-size: 0.85rem;
  line-height: 1rem;
  cursor: pointer;
}

/* cta */

.CTA-container {
  padding-top: 1.7rem;
  background: var(--intro-email-background);
  position: relative;
  z-index: 1;
}

.curvy-line {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  width: 100vw;
  height: 350px;
}

.CTA-img {
  width: 304px;
  height: 225px;
  display: block;
  margin: 0 auto;
}

.CTA-h1 {
  font-family: var(--accent-font);
  font-weight: bold;
  line-height: 36px;
  font-size: 1.7rem;
  text-align: center;
  padding: 1.7rem;
}

.CTA-p {
  text-align: center;
  line-height: 1.5rem;
  padding-bottom: 1.7rem;
  padding: 0 2.7rem 1.7rem 2.7rem;
}

.get-started {
  width: 240px;
  height: 48px;
  border-radius: 24px;
  border: none;
  color: white;
  font-family: var(--accent-font);
  font-weight: bold;
  line-height: 1.17rem;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 3px 6px rgba(0, 0, 0 0.15);
  background: rgb(101, 226, 217);
  background: linear-gradient(
    155deg,
    rgba(101, 226, 217, 1) 29%,
    rgba(51, 158, 204, 1) 78%
  );
  cursor: pointer;
}

/* features  */

.features-container {
  padding: 1.7rem;
  text-align: center;
}

.feature-container {
  width: 320px;
  line-height: 1.5rem;
  margin: 5rem auto 5rem auto;
}

.feature-icon {
  padding-bottom: 2rem;
}

.feature-h2,
.stay-productive-h2 {
  padding-bottom: 0.5rem;
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 1.28rem;
  line-height: 1.71rem;
}

.feature-p {
  line-height: 1.5rem;
}

/* stay productive */

.stay-productive-container {
  padding: 1.7rem;
  text-align: center;
}

.stay-productive-img {
  width: 304px;
  height: 229.27px;
}

.stay-productive-p {
  text-align: left;
  line-height: 1.5rem;
  padding: 1rem 0 1rem 0;
}

.fylo-works-container {
  text-align: left;
}

.fylo-works-link {
  display: flex;
  align-items: center;
  font-size: 0.857rem;
  line-height: 1.16rem;
  width: 130px;
  height: 23px;
  color: var(--CTA-cyan-gradient);
  border-bottom: 1px solid var(--CTA-cyan-gradient);
  cursor: pointer;
}

.arrow {
  width: 12px;
  height: 12px;
  margin-left: 0.6rem;
}

/* testimonals  */

.testimonals-container {
  padding: 1.7rem;
}

.top-testimonial {
  position: relative;
}

.quote-img {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 30px;
  height: 20px;
}

.testimonal-container {
  background: var(--testimonals-background);
  width: 280px;
  height: 160px;
  margin: 2rem auto 2rem auto;
  padding: 1.5rem;
  border-radius: 4px;
}

.testimonal-p {
  font-size: 0.714rem;
  line-height: 1.28rem;
  padding-bottom: 1rem;
}

.testimonal-person-container {
  display: flex;
  width: 120px;
  align-items: center;
  padding-top: 0.5rem;
}

.testimonal-img {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin-right: 0.5rem;
}

.testimonal-name {
  font-weight: bold;
  font-size: 0.714rem;
  line-height: 0.857rem;
  letter-spacing: 0.5px;
}

.testimonal-position {
  font-size: 0.5rem;
  line-height: 0.714rem;
  letter-spacing: 0.5px;
}

/* email */

.form {
  position: relative;
}

.email-container {
  background: var(--intro-email-background);
  width: 336px;
  height: 353px;
  margin: 5rem auto -12rem auto;
  padding: 2rem;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.email-h2 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 1.28rem;
  line-height: 1.71rem;
  margin-bottom: 1.5rem;
}

.email-p {
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}

.email-input,
.email-btn {
  border-radius: 24px;
  width: 280px;
  height: 48px;
}

.email-input {
  padding-left: 2rem;
  border: none;
  margin-bottom: 2.5rem;
}

.email-input::placeholder {
  font-size: 0.714rem;
  line-height: 0.972rem;
  color: #c0c0c0;
}

.email-btn {
  border: none;
  color: white;
  font-family: var(--accent-font);
  font-weight: bold;
  line-height: 1.17rem;
  background: rgb(101, 226, 217);
  background: linear-gradient(
    155deg,
    rgba(101, 226, 217, 1) 29%,
    rgba(51, 158, 204, 1) 78%
  );
  cursor: pointer;
}

.hide {
  display: none;
}

.error-text {
  position: absolute;
  top: 4rem;
  left: 2rem;
  color: red;
  font-weight: bold;
  font-size: 0.71rem;
  line-height: 1rem;
}

/* footer */
.footer-container {
  padding: 1.7rem;
  background: var(--footer-background);
  padding-top: 15rem;
}

.logo-footer {
  width: 108px;
  height: 31px;
  margin-bottom: 2rem;
}

.detail-item {
  display: flex;
  margin: 2rem auto 2rem auto;
}

.detail-icon {
  margin-right: 1.5rem;
}

.location {
  height: 18px;
  width: 13px;
}

.phone {
  height: 13px;
  width: 13px;
}

.email {
  height: 16px;
  width: 20px;
  margin-right: 1rem;
}

.detail-p {
  font-size: 1.14rem;
  line-height: 1.71rem;
}

.location-p {
  max-width: 280px;
}

.small-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

.nav-footer-ul {
  display: block;
  margin: 2rem auto 2rem auto;
  padding: 0;
}

.nav-item-footer {
  display: block;
  padding-top: 1rem;
  cursor: pointer;
}

.social-container {
  text-align: center;
  margin: 4rem auto 2rem auto;
}

.social-img {
  margin: 0 0.5rem 0 0.5rem;
  width: 28px;
  height: 27px;
  cursor: pointer;
}

@media (min-width: 550px) {
  /* CTA  */

  .CTA-h1,
  .CTA-p,
  .stay-productive-p,
  .fylo-works-container {
    max-width: 450px;
    margin: 0 auto;
  }

  .curvy-line {
    content: url("/images/bg-curvy-desktop.svg");
  }
}

@media (min-width: 750px) {
  /* CTA */
  .logo {
    width: 176px;
    height: 52px;
  }
  .nav-item {
    font-size: 1rem;
    line-height: 1.34rem;
  }
  .CTA-img {
    width: 450px;
    height: 333px;
  }
  .CTA-h1 {
    font-size: 2.85rem;
    line-height: 4.28rem;
    max-width: 784px;
  }
  .CTA-p {
    font-size: 1.42rem;
    line-height: 2.14rem;
    max-width: 589px;
  }

  .get-started {
    width: 280px;
    height: 56px;
  }

  .curvy-line {
    height: 500px;
  }

  /* features */
  .features-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* stay productive */
  .stay-productive-container {
    display: flex;
    align-items: center;
  }

  .stay-productive-h2 {
    text-align: left;
    font-size: 3rem;
    line-height: 3.57rem;
  }

  .stay-productive-p {
    margin: 0;
    font-size: 1.14rem;
    line-height: 1.7rem;
  }

  .fylo-works-container {
    margin: 0;
  }
  .fylo-works-link {
    font-size: 1.14rem;
    line-height: 1.55rem;
    width: 166px;
    height: 27px;
  }

  /* testimonal */

  .testimonal-container {
    width: 360px;
    height: 200px;
    padding: 2.5rem;
  }

  .testimonal-p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  /* email */

  .email-container {
    width: 650px;
    height: 300px;
    padding: 3.5rem;
  }

  .email-h2 {
    font-size: 2.28rem;
    line-height: 3.42rem;
  }

  .form {
    display: flex;
    justify-content: space-between;
  }

  .email-input {
    width: 70%;
    margin-right: 1rem;
  }
}

@media (min-width: 900px) {
  /* footer */

  .detail-wrap {
    display: flex;
    justify-content: space-between;
  }

  .nav-footer-ul,
  .social-container,
  .detail-item,
  .nav-item-footer {
    margin: 0;
    padding-top: 0;
  }

  .nav-item-footer {
    padding-bottom: 1rem;
    font-size: 1.14rem;
    line-height: 1.55rem;
  }
}

@media (min-width: 1200px) {
  /* CTA */
  .CTA-img {
    width: 720px;
    height: 534px;
  }

  .curvy-line {
    height: 620px;
  }

  /* features */
  .features-container {
    margin: 10rem;
  }

  .feature-container {
    min-width: 349px;
    min-height: 214px;
  }

  .computer {
    width: 84px;
    height: 78px;
    padding: 0;
  }

  .security {
    width: 66px;
    height: 84px;
    padding: 0;
  }

  .clock {
    width: 84px;
    height: 69px;
    padding: 0;
  }

  .files {
    width: 90px;
    height: 63px;
    padding: 0;
  }

  .feature-h2 {
    padding-top: 2rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  /* stay-productive */

  .stay-productive-img {
    width: 614px;
    height: 464px;
  }

  .stay-productive-container {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .stay-productive-text-container {
    margin: 0 auto;
  }

  .stay-productive-p {
    max-width: 563px;
  }

  .stay-productive-h2 {
    max-width: 350px;
  }

  /* testimonals */
  .testimonals-container {
    display: flex;
    margin: 10rem auto;
  }

  /* email */
  .email-container {
    width: 863px;
    height: 275px;
    padding: 2.75rem;
  }

  .form {
    justify-content: space-between;
  }

  .email-input {
    width: 480px;
  }
  .email-btn {
    width: 200px;
  }

  .email-p {
    max-width: 673px;
    margin: 0 auto 2rem auto;
  }
}

/* active and hover states  */
@media (hover: hover) and (pointer: fine) {
  .nav-item:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  .get-started:hover,
  .email-btn:hover {
    background: #8adae3;
  }

  .fylo-works-link:hover {
    color: white;
    border-bottom: 1px solid white;
  }

  .nav-item-footer:hover {
    font-weight: bold;
  }

  .facebook:hover {
    content: url("images/icon-facebook-active.svg");
  }

  .instagram:hover {
    content: url("images/icon-instagram-active.svg");
  }

  .twitter:hover {
    content: url("images/icon-twitter-active.svg");
  }
}

.nav-item:active {
  font-weight: bold;
  text-decoration: underline;
}

.get-started:active,
.email-btn:active {
  background: #8adae3;
}

.fylo-works-link:active {
  color: white;
  border-bottom: 1px solid white;
}

.arrow-active {
  content: url("images/icon-arrow-active.svg");
}

.nav-item-footer:active {
  font-weight: bold;
}

.facebook:active {
  content: url("images/icon-facebook-active.svg");
}

.instagram:active {
  content: url("images/icon-instagram-active.svg");
}

.twitter:active {
  content: url("images/icon-twitter-active.svg");
}
